@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-bold-webfont.woff2') format('woff2'),
        url('../fonts/oswald-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldmedium';
    src: url('../fonts/oswald-medium-webfont.woff2') format('woff2'),
        url('../fonts/oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
        url('../fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'oswaldsemibold';
    src: url('../fonts/oswald-semibold-webfont.woff2') format('woff2'),
        url('../fonts/oswald-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}













*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: normal;
}

.wrapper {
    flex: 1 0 auto;
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
}

/*HEADER*/

.header {
    height: 86px;
    background-color: #292929;
    color: #dddddd;
    display: flex;
    width: 100%;
    align-items: center;

}

.header__section {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.header__logo {
    display: flex;
    align-content: center;
    padding-left: 82px;
    flex-direction: column;
    justify-content: center;

}

.header__img {
    width: 158px;
    height: 30px;
}

.header__logotxt {
    color: #9b9a9a;
    font-size: 21px;
    font-family: 'source_sans_proextralight';
}

.header__menu {
    display: flex;
    width: 682px;
    justify-content: space-between;
    align-items: center;
    padding-right: 99px;
}

.menu__link {
    color: #dddddd;
    font-size: 20px;
    font-family: 'source_sans_proextralight';
}

.menu__items:hover {
    opacity: 0.55;
}

/*HEADER*/

/*REQUEST SECTION*/

.request {
    margin-bottom: 125px;
    display: flex;
    position: relative;
    width: 100%;
}

.request__img {
    width: 100%;
    position: relative;
}

.request:after {
    content: "";
    height: 766px;
    width: 414px;
    opacity: 0.85;
    background-color: #494949;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 55px;
    top: 0;
    display: flex;
}

.overlay__text {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 95px;
    top: 280px;
    font-size: 40px;
    color: #ffffff;
    font-family: 'oswaldregular';
    display: flex;
    line-height: 1.90;
    z-index: 2;
}

.request__link {
    color: black;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 140px;
    top: 486px;
    width: 244px;
    height: 54px;
    background-color: #ffaf32;
    font-size: 18px;
    font-family: 'oswaldregular';
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.request__link:hover {
    transform: scale(1.2, 1.1);
    background-color: #adadad;
}

/*REQUEST SECTION*/

/*WE DESIGNE SECTION*/

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 134px;
}

.design__title {
    font-size: 36px;
    font-family: 'oswaldmedium';
    margin-bottom: 83px;
}

.design__colum {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 99px;
    padding-right: 91px;
}

.design__item {
    font-size: 22px;
    font-family: 'source_sans_proextralight';
    margin-bottom: 30px;
}

.design__item:hover {
    opacity: 0.55;
}

/*WE DESIGNE SECTION*/

/*PROJET SECTION*/

.project {
    margin-bottom: 131px;
}

.project__photos {
    display: flex;
}

.project__block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__text {
    position: absolute;
    display: flex;
    font-family: 'oswaldmedium';
    font-size: 36px;
    color: #ffffff;
    z-index: 3;
}

.project__block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 585px;
    height: 504px;
    background-color: #e7aa4b;
    display: block;
    display: none;
    opacity: 0.85;
}

.project__block:hover:after {
    display: block;
}

/*PROJET SECTION*/

/*ADVANTAGE SECTION*/

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 144px;
}

.advantages__title {
    font-size: 36px;
    font-family: 'oswaldmedium';
    margin-bottom: 83px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 53px;
    padding-right: 49px;
}

.advantages__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.advantages__items:hover {
    transform: scale(1.2, 1.1);

}

.advantages__icon {
    margin-bottom: 29px;
}

.advantages__text {
    font-size: 22px;
    color: #ffaf32;
    margin-bottom: 39px;
}

.advantages__info {
    font-size: 18;
    font-family: 'source_sans_proextralight';
}

/*ADVANTAGE SECTION*/

/*OUR WORK SECTION*/
.ourwork {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;

}

.ourwork__heade {
    display: flex;
    height: 167px;
    background-color: #292929;
    justify-content: center;
    align-items: center;
}

.ourwork__title {
    font-size: 36px;
    font-family: 'oswaldmedium';
    color: #ffffff;
}

.ourwork__photos {
    display: flex;
    flex-direction: row;
}

.ourwork__colum1 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ourwork__colum1:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 778.98px;
    height: 390px;
    background-color: #5e5e5e;
    opacity: 0.80;
}

.ourwork__textimg {
    position: absolute;
    top: 62px;
    left: 54px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.ourwork__text {
    margin-bottom: 40px;
    font-size: 32px;
    font-family: 'oswaldlight';
}

.ourwork__link {
    font-family: 'Myriad Pro';
    color: #e39b2c;
    font-size: 32px;
    text-decoration: underline;
}

.ourwork__colum2photos {
    display: flex;
}

.ourwork__colum2 {
    display: flex;
    flex-direction: column;
}

/*OUR WORK SECTION*/

/*QUESTIONS SECTION */

.questions {
    margin-bottom: 82px;
    height: 96px;
    background-color: #292929;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.questions__title {
    font-size: 36px;
    font-family: 'oswaldmedium';
    color: #ffffff;
}

.questions__linkbtn {
    font-family: 'oswaldregular';
    text-decoration: none;
    color: black;
    width: 244px;
    height: 54px;
    background-color: #ffaf32;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions__linkbtn:hover {
    transform: scale(1.2, 1.1);
    background-color: #adadad;
}

/*QUESTIONS SECTION */

/*CONTACT SECTION */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 77px;
}

.contact__text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'source_sans_proextralight';
    padding-left: 80px;
}

.contact__title {
    font-size: 30px;
    font-family: 'oswaldlight';
    margin-bottom: 41px;
}

.contact__email {
    font-size: 16px;
    font-family: 'source_sans_proextralight';
    color: #000;
}

.contact__email:hover {
    opacity: 0.55;
}

.contact__numberlink {
    font-size: 16px;
    font-family: 'source_sans_proextralight';
    color: #000;
}

.contact__numberlink:hover {
    opacity: 0.55;
}


.contact__items {
    margin-bottom: 28px;
}

.contact__map {
    display: flex;
    padding-right: 57px;
}

/*CONTACT SECTION  */


/*FOOTER*/

.footer {
    flex-shrink: 0;
    height: 292px;
    background-color: #292929;
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-top: 62px;

}

.footer__row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer__left {
    display: flex;
    height: 113px;
    padding-left: 82px;
}

.footer__list1 {
    margin-right: 95px;
}

.footer__items {
    margin-bottom: 28px;
}

.footer__items:last-child {
    margin-bottom: 0;
}

.footer__items:hover {
    opacity: 0.55;
}


.footer__link {
    color: #adadad;
    font-size: 18px;
    font-family: 'source_sans_proextralight';
}

.footer__list2 {
    margin-right: 89px;
}

.footer__right {
    display: flex;
    padding-right: 87px;
}

.address {
    display: flex;
    flex-direction: column;
    font-family: 'source_sans_proextralight';
    color: #adadad;
    font-size: 20px;
    font-style: normal;
}

.address__text {
    margin-bottom: 28px;
}

.address__text:last-child {
    margin-bottom: 0;
}

.address__mail {
    color: #adadad;
    font-size: 20px;
    font-family: 'source_sans_proextralight';
}

.address__mail:hover {
    opacity: 0.55;
}

.address__mobil {
    color: #adadad;
    font-size: 20px;
    font-family: 'source_sans_proextralight';
}

.address__mobil:hover {
    opacity: 0.55;
}

.footer__row2 {
    display: flex;
}

.copyright {
    color: #adadad;
    font-size: 20px;
    font-family: 'source_sans_proextralight';
    display: flex;
    padding-left: 82px;
}